{% load staticfiles %}
<!DOCTYPE html>
<html>
  <body>
    <h1>Smart Storm Drain</h1>
    {% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    {% endblock %}
    <h2>Transmissions:</h2>
    {% for transmission in transmissions %}
    <div>
        <p>Timestamp: {{ transmission.timestamp }}</p>
        <p>Device: {{ transmission.device }}</p>
        <p>Depth: {{ transmission.depth }}</p>
        <p>Flowrate: {{ transmission.flowrate }}</p>
        <br>
    </div>
    {% endfor %}
    <h2>
      <a href="{% url 'ui' %}">Final User Interface Vision</a>
    </h2>
  </body>
</html>
