{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <h1>Smart Storm Drain</h1>
    <h2>Select a Device, Metric, and Date Range</h2>
    {% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <label for="from">Date Range: from</label>
        <input type="text" id="from" name="from">
        <label for="to">to</label>
        <input type="text" id="to" name="to">
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    {% endblock %}
    <canvas id="myChart"></canvas>
    <h2>
      <a href="{% url 'ui' %}">Final User Interface Vision</a>
    </h2>
  </body>
</html>

<!--Datepicker JavaScript-->
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          changeMonth: true,
          minDate: new Date("{{ dates.min_day.isoformat }}"),
          maxDate: new Date("{{ dates.max_day.isoformat }}")
        })
        .datepicker("setDate", new Date("{{ dates.start_day.isoformat }}"))
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        changeMonth: true,
        minDate: new Date("{{ dates.min_day.isoformat }}"),
        maxDate: new Date("{{ dates.max_day.isoformat }}")
      })
      .datepicker("setDate", new Date("{{ dates.end_day.isoformat }}"))
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
</script>

<!--Charts JavaScript-->
<script type="text/javascript">
  // Get the chart reference in the template
  var ctx = document.getElementById('myChart');

  // Use metric value to determine which chart to render
  if ('{{ metric }}' == 'depth') {
    // Line chart for water depth
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            backgroundColor: 'rgba(0,102,255,0.5)',
            borderColor: 'rgba(0,102,255,0.5)',
            data: [
              {% for transmission in transmissions %}
              {
                x: new Date("{{ transmission.timestamp.isoformat }}"),
                y: {{ transmission.depth }}
              },
              {% endfor %}
            ]
          }]
        },
        options: {
          legend: {
            display: false
          },
          title: {
            display: true,
            text: 'Water Depth of {{ device.name }}',
            fontSize: 30
          },
          scales: {
            xAxes: [{
              type: 'time',
              scaleLabel: {
                display: true,
                labelString: 'Datetime',
                fontSize: 20
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Depth (ft)',
                fontSize: 20
              }
            }],
          }
        }
    });
  }

  // Assigns proper point colors based on the flowrate
  var pointBackgroundColors = [
    {% for transmission in transmissions %}
      {% if transmission.flowrate == 1 %}
        'rgba(0,204,0,0.5)',
      {% elif transmission.flowrate == 2 %}
        'rgba(255,204,0,0.5)',
      {% elif transmission.flowrate == 3 %}
        'rgba(255,0,0,0.5)',
      {% else %}
        'rgba(128,128,128,0.5)',
      {% endif %}
    {% endfor %}
  ];
  var pointBorderColors = [
    {% for transmission in transmissions %}
      {% if transmission.flowrate == 1 %}
        'rgba(0,204,0,1)',
      {% elif transmission.flowrate == 2 %}
        'rgba(255,204,0,1)',
      {% elif transmission.flowrate == 3 %}
        'rgba(255,0,0,1)',
      {% else %}
        'rgba(128,128,128,1)',
      {% endif %}
    {% endfor %}
  ];

  if ('{{ metric }}' == 'flowrate') {
    // Bar chart for flow rate
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          datasets: [{
            backgroundColor: pointBackgroundColors,
            borderColor: pointBorderColors,
            borderWidth: 1,
            data: [
              {% for transmission in transmissions %}
              {
                x: new Date("{{ transmission.timestamp.isoformat }}"),
                y: {{ transmission.flowrate }}
              },
              {% endfor %}
            ],
          }]
        },
        options: {
          legend: {
            display: false
          },
          title: {
            display: true,
            text: 'Flow Rate of {{ device.name }}',
            fontSize: 30
          },
          scales: {
            xAxes: [{
              type: 'time',
              scaleLabel: {
                display: true,
                labelString: 'Datetime',
                fontSize: 20
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Flow Rate',
                fontSize: 20
              },
              ticks: {
                beginAtZero: true,
                suggestedMax: 3,
                callback: function(label) {
                  switch(label) {
                    case 0:
                      return 'None';
                    case 1:
                      return 'Low';
                    case 2:
                      return 'Medium';
                    case 3:
                      return 'High';
                  }
                }
              }
            }],
          },
        }
    });
  }

  if ('{{ metric }}' == 'voltage') {
    // Line chart for battery voltage
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            backgroundColor: 'rgba(0,204,0,0.5)',
            borderColor: 'rgba(0,204,0,0.5)',
            data: [
              {% for transmission in transmissions %}
              {
                x: new Date("{{ transmission.timestamp.isoformat }}"),
                y: {{ transmission.voltage }}
              },
              {% endfor %}
            ]
          }]
        },
        options: {
          legend: {
            display: false
          },
          title: {
            display: true,
            text: 'Battery Voltage of {{ device.name }}',
            fontSize: 30
          },
          scales: {
            xAxes: [{
              type: 'time',
              scaleLabel: {
                display: true,
                labelString: 'Datetime',
                fontSize: 20
              },
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Voltage (V)',
                fontSize: 20
              },
              ticks: {
                suggestedMin: 2.9
              }
            }],
          }
        }
    });
  }
</script>
